body {
    background-color: #c7cfb7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
}

.header {
    flex: 0 0 100px;
    border-bottom: solid 1px grey;
    border-radius: 20px;
    background-color: #9dad7f;
    margin-bottom: 10px;
}

.footer {
    flex: 0 0 20px;
    font-size: 8px;
    color: gray;
    text-align: center;
    border-top: solid 1px grey;
    border-radius: 20px;
    background-color: #9dad7f;
    margin-top: 10px;
}

.main-content {
    display: flex;
    flex: 1;
    gap: 10px;
}

.leftMenu {
    flex: 0 0 250px; /* Adjust width as needed */
    border-right: solid 1px grey;
    padding: 10px;
    border-radius: 20px;
    background-color: #557174;
    margin-right: 10px;
}

.mainBody {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    background-color: #9dad7f;
}

.rightMenu {
    flex: 0 0 100px;
    border-left: solid 1px grey;
    padding: 10px;
    border-radius: 20px;
    background-color: #557174;
    margin-left: 10px;
}