body {
    background-color: #cac6fc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    flex: 0 0 100px;
    border-bottom: solid 1px grey;
}

.footer {
    flex: 0 0 20px;
    font-size: 8px;
    color: gray;
    text-align: center;
    border-top: solid 1px grey;
}

.main-content {
    display: flex;
    flex: 1;
}

.leftMenu {
    flex: 0 0 250px; /* Adjust width as needed */
    border-right: solid 1px grey;
    padding: 10px;
}

.mainBody {
    flex: 1;
    padding: 10px;
}

.rightMenu {
    flex: 0 0 100px;
    border-left: solid 1px grey;
    padding: 10px;
}