<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>CPU_Browsing Page</title>
</head>
<body class="common">
    <div class="header">
    <h1>CPU Browsing Page</h1>
    </div>
    <div class="leftMenu">
       <p>Filters</p> 
    </div>
    <div class="mainBody">
        <ul>
            <!-- This is some python jinja2 code. Only existing items will be displayed. -->
            {% for item in data %}
                <li>Brand: {{ item[1] }} - Name: {{ item[2] }} - Cores: {{ item[3] }} - Clock Speed: {{ item[4] }} - Cache in MB: {{ item[5] }} - Price {{ item[6] }} </li>
            {% endfor %}
        </ul>
    </div>
    <div class="rightMenu">
        right
    </div>
    <div class="footer">
        footer
    </div>
</body>
</html>