<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/teststyles.css">
    <title>CPU_Browsing Page</title>
</head>
<body>
    <div class="common header">
    <h1>CPU Browsing Page</h1>
    </div>
    <div class="common leftMenu">
       <p>Filters</p> 
    <form action="/CPU" method="GET">
        <fieldset>
            <legend>Price Filter:</legend>

            <label>
                <input type="radio" name="price_sort" value"ASC"
                {% if request.args.get('price_sort') == 'ASC' %}checked{% endif %}>
                <input type="number" name="min_price" placeholder="Min Price" value="{{ request.args.get('min_price') }}">
                    Lowest to Highest
            </label><br>
            <label>
                <input type="radio" name="price_sort" value"DESC"
                {% if request.args.get('price_sort') == 'DESC' %}checked{% endif %}>
                <input type="number" name="max_price" placeholder="Max Price" value="{{ request.args.get('max_price') }}">
                    Highest to Lowest
            </label>

            <!-- <label><input type="checkbox" id="priceASC" name="priceASC" value="ASC"> Lowest to Highest</label><br>
            <label><input type="checkbox" id="priceDESC" name="priceDESC" value="DESC"> Highest to Lowest</label>
        -->
        </fieldset>
        <br>
        <button type="submit">Filter</button>
    <br>
    </form>
    </div>
    <div class=" common mainBody">
        <ul>
            <!-- This is some python jinja2 code. Only existing items will be displayed. -->
            {% for item in data %}
                <li>Brand: {{ item[1] }} - Name: {{ item[2] }} - Cores: {{ item[3] }} - Clock Speed: {{ item[4] }} - Cache in MB: {{ item[5] }} - Price ${{ "%.2f"|format(item[6]) }} </li>
            {% endfor %}
        </ul>
    </div>
    <div class="common rightMenu">
        right
    </div>
    <div class="common footer">
        footer
    </div>
</body>
</html>